@charset "UTF-8";

@font-face {
    font-family: "idroid";
    src: url(fontes/idroid.otf);
}

body {
    background-color: #84E1AD;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(to bottom, #3CD882, #1A5C38);
    margin: 0px;
}

header>h1 {
    margin: 0px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header>h1,
header>p {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}

main>h1,
main>h2 {
    font-family: idroid;
    color: #131200;
    text-shadow: 1px 1px 2px #FF4A1C;
    font-size: 1.6em;
}

main>h2 {
    background-color: hsla(146, 61%, 70%, 0.5);
    padding: 5px;
    font-size: 1.2em;
}

.menu>nav {
    display: inline;
    margin: auto 10px;
}

.menu>nav>a {
    color: white;
    text-decoration: none;
}

.menu>nav>a:hover {
    background-color: #3CD882;
    color: white;
    border-radius: 5px;
    padding: 5px
}

main>p {
    text-align: justify;
}

p {
    text-indent: 20px;
}

.centralizar {
    display: block;
    margin: auto;
}

.video-youtube {
    background-color: #1A5C38;
    margin: 0px;
}

.video {
    width: 760px;
    height: 327px;
    padding: 20px;
}

footer>h1 {
    margin: 0px;
}

#fundo-branco {
    background-color: white;
    width: 800px;
    margin: auto;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.verde-claro-de-fundo {
    background-color: hsla(146, 61%, 70%, 0.5);
    margin: 0px;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
}

.verde-escuro-de-fundo {
    background-color: #3CD882;
    margin: 0px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

.verde-escuro-de-fundo>h1 {
    margin: 0px;
    color: white;
}

.rodape {
    padding-top: 10px;
    border-radius: 10px;
}

.vai-pra-left {
    display: inline-block;
    text-align: left;
    text-align: justify;
}

.vai-pra-right {
    display: inline-block;
    text-align: right;
    text-align: justify;
    margin: 0px 0px 0px 200px;
}

.centralizar-e-background-verde-escuro {
    text-align: center;
    background-color: #1A5C38;
    color: white;
    margin-bottom: 0px;
}

.centralizar-e-background-verde-escuro>p {
    margin-bottom: 0px;
    padding: 5px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

ul>li::before {
    content: "\2713";
    font-weight: bold;
}