@charset "UTF-8";

@font-face {
    font-family: android;
    src: url(fontes/idroid.otf);
}

:root {
    --cor1: #C1F0D5;
    --cor2: #3BD781;
    --cor3: #185534;
    --cor4: #DB5461;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    padding: 20px;
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    color: white;
}

header>h1 {
    font-weight: normal;
    text-shadow: 1px 1px 2px black;
    margin: 20px;
}

header>p {
    margin: 20px;
    text-shadow: 1px 1px 2px black;
}

nav>a {
    margin: 10px;
    text-decoration: none;
    color: var(--cor2);
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
}

nav>a:hover {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    transition: 200ms;
}

body {
    background-color: var(--cor2);
}

.fundo {
    background-color: white;
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: justify;
    line-height: 1.3em;
    border-radius: 0px 0px 10px 10px;
}

main h1,
h2,
h3 {
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-family: android;
    padding: 10px;
    border-radius: 5px;
}

main h1 {
    margin-bottom: 20px;
}

main p {
    margin: 20px 0px;
}

.adaptar-imagem img {
    width: 100%;
}

.bugdroid img {
    display: block;
    margin: auto;
}

.video {
    background-color: var(--cor3);
    padding: 30px;
}

.video iframe {
    width: 100%;
}

aside h1 {
    margin: 20px 0px 10px 0px;
    color: white;
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5em;
}

aside section {
    background-color: var(--cor1);
    border-radius: 10px;
}

aside p,
ul {
    padding: 0px 10px 10px 10px;
    line-height: 1.3em;
}

main a,
aside a {
    color: var(--cor1);
    text-decoration: none;
    background-color: var(--cor2);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

main a,
aside a::after {
    content: '\1F517';
}

ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}

footer {
    text-align: center;
    background-color: var(--cor3);
    color: white;
    padding: 5px;
    margin-top: 1%;
}